In [10]:
val = input("Give a value ")
print(val)
print(type(val))

Give a value 56
56
<class 'str'>

In [11]:
val = int(input("Give a value "))
print(val)
print(type(val))

Give a value 45
45
<class 'int'>

In [12]:
val = float(input("Give a value "))
print(val)
print(type(val))

Give a value 56.67
56.67
<class 'float'>

In [16]:
val = bool(input("Give a value "))
print(val)
print(type(val))

Give a value -98
True
<class 'bool'>

In [20]:
newchar = input("Give a char ")
print(newchar)
print(type(newchar))

Give a char f
f
<class 'str'>

In [2]:
# take input as numbers but as a list of strings
mystring = list(input().strip().split())
print(mystring)
print(type(mystring))

10 20 45 99
['10', '20', '45', '99']
<class 'list'>

In [12]:
# take input as string but to a list without trimming
mystring = list(input().split())
print(mystring)

10 20 45 99
['10', '20', '45', '99']

In [1]:
#   45 67 77 45
# take input as a list of numbers after trimming and splitting
mystring = list(map(float,input().strip().split()))
print(mystring)
print(sum(mystring)/len(mystring))

45 67 77 45
[45.0, 67.0, 77.0, 45.0]
58.5

In [13]:
# taking input as numbers to a set
mystring = set(map(int,input().split()))
print(mystring)

10 20 45 99
{10, 99, 20, 45}

In [3]:
# taking input as strings to a set
mystring = tuple(map(int,input().split()))
print(mystring)

10 20 45 99
(10, 20, 45, 99)

In [5]:
x = 34, 56, 78
print(x)
print(type(x))

(34, 56, 78)
<class 'tuple'>

In [15]:
# taking input as numbers to a tuple
mystring = tuple(map(int,input().split()))
print(mystring)

10 20 45 99
(10, 20, 45, 99)

In [ ]:
# taking input as strings and printing to a tuple in one line
# Ravi Meenakshi Sheela
print(tuple(input().strip().split()))

In [17]:
# 2
# Guru 78
# Badri 34
n = int(input())
#name_numbers = [input().split() for _ in range(n)]
#print(name_numbers)
phone_book = {k:v for k,v in [input().split() for _ in range(n)]}
print(phone_book)
#phone_book = {k:v for k,v in name_numbers}
#print(phone_book)

2
Mohammad 91
Reshma 93
{'Mohammad': '91', 'Reshma': '93'}

In [18]:
listA = []
# Input number of elemetns
n = int(input("Enter number of elements in the list : "))
# iterating till the range
for i in range(0, n):
   print("Enter element No-{}: ".format(i+1))
   elm = int(input())
   listA.append(elm) # adding the element
print("The entered list is: \n",listA)

Enter number of elements in the list : 2
Enter element No-1:
23
Enter element No-2:
56
The entered list is:
 [23, 56]

In [ ]:
setA = set([])
# Input number of elemetns
n = int(input("Enter number of elements in the list : "))
# iterating till the range
for i in range(0, n):
   print("Enter element No-{}: ".format(i+1))
   elm = int(input())
   setA.add(elm) # adding the element
print("The entered set is: \n",setA)

In [ ]:
# 5
# 10 40 30 50 20
# 1 2 3 4 5
# 32.0
# Enter your code here. Read input from STDIN. Print output to STDOUT

val = int(input())
arraylist = list(map(int,input().split()))
weightlist = list(map(int,input().split()))
mysum = 0
for i in range(val): 
    mysum = mysum + (arraylist[i] * weightlist[i])
print(round(mysum/sum(weightlist),1))

In [ ]:
mystring = tuple(map(str,input().split()))
print(mystring)

In [ ]:
# 57 172 86 43 130 65 196 98 49 148 74 37 112 56 28 14 7 22 11 34 17 52 26 13 40 20 10 5 16 8 4 2 1