# Different ways of creating a tuple

In [ ]:
newtuple = (23,45,67,78,99,99)
print(newtuple)

In [ ]:
newtuple[4] = 77

In [ ]:
newtuple = (23,"stringval",67.79,78,99,99)
print(newtuple)

In [ ]:
newtuple.

In [6]:
newtuple.count(99)

2

In [5]:
newtuple.index(99)

4

In [ ]:
print(newtuple[3])

In [ ]:
newtuple[3] = 67

In [ ]:
newtuple = tuple([23,45,67,78,99])
print(newtuple)

In [11]:
newtuple = (23,45,67,78,99,99,[45,22],{34:45,"Ravi":45},(34,2), {4,2,1})
print(newtuple)

(23, 45, 67, 78, 99, 99, [45, 22], {34: 45, 'Ravi': 45}, (34, 2), {1, 2, 4})