In [1]:
newlist = [0,1,2,3,4,5,6,7,8,9]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
x = range(1,10)
for val in x:
    print(val,end=" ")

1 2 3 4 5 6 7 8 9

In [3]:
newlist = [x for x in range(0,11)] 
# append x to empty list - for set of all x, x greater than or equal to 0 and less than 11
print(newlist)
#y = {x: x>=0, x<11 xEN} - set builder form

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# pythonic code

In [4]:
x = [0,1,4,9,16,25.....]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (603071935.py, line 1)

In [5]:
print([x ** 2 for x in range(0,11)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
print(list(x ** 2 for x in range(0,11)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
for x in range(0,11,2):
    print(x*x,end=" ")

0 4 16 36 64 100

In [7]:
print([x ** 2 for x in range(101) if x % 2 == 1])
for num in range(0,101):
    if num % 2 == 1:
        print(num*num,end=" ")

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401, 2601, 2809, 3025, 3249, 3481, 3721, 3969, 4225, 4489, 4761, 5041, 5329, 5625, 5929, 6241, 6561, 6889, 7225, 7569, 7921, 8281, 8649, 9025, 9409, 9801]
1 9 25 49 81 121 169 225 289 361 441 529 625 729 841 961 1089 1225 1369 1521 1681 1849 2025 2209 2401 2601 2809 3025 3249 3481 3721 3969 4225 4489 4761 5041 5329 5625 5929 6241 6561 6889 7225 7569 7921 8281 8649 9025 9409 9801

In [11]:
print({x:x*x for x in range(11)})

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [13]:
print(dict((x, x*x) for x in range(11)))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [3]:
print({x*x for x in range(11)})   # S = {x: 0<x<10, xEN}

{0, 1, 64, 4, 36, 100, 9, 16, 49, 81, 25}

In [14]:
print(set(x*x for x in range(11)))   # S = {x: 0<x<10, xEN}

{0, 1, 64, 4, 36, 100, 9, 16, 49, 81, 25}

In [4]:
newtuple = (x*x for x in range(11))
print(newtuple)

<generator object <genexpr> at 0x00000194EE392EA0>

In [5]:
newtuple = *(x*x for x in range(11)),
print(newtuple)

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100)