# functions in python

In [1]:
import numpy as np

In [ ]:
np.

In [29]:
x = 20
print(type(x))

<class 'int'>

In [ ]:
# functions, subroutines, methods, procedure
def yourfunc():
    print("This is function definition")

yourfunc() # This is a function call

In [28]:
print(type(yourfunc))

<class 'function'>

# pass data as an argument to function

In [1]:
def yourfunc(b): 
    b = b ** 2
    print(b)

p = int(input())
yourfunc(p)

9
81

# return data using 'return' from a function

In [4]:
def yourfunc(b): 
    b = b ** 2
    return b

p = 40
x = yourfunc(p)
print(x)

1600

# pass more than one value to a function

In [7]:
def yourfunc(b,c,d): 
    print(b,c,d)
    return b*c*d

p = 10
q = 20
r = 30
print(yourfunc(p,q,r))

10 20 30
6000

# pass a list, set, dictionary and set to function

In [8]:
def yourfunc(b): 
    print(b)

p = [3,4,67]
yourfunc(p)

[3, 4, 67]

In [11]:
def yourfunc(b,c,d): 
    d[5] = 45
    print(b)
    print(c)
    print(d)

p = (3,4,67)
q = {34,56,78}
r = {3:56,6:78,12:33}
yourfunc(p,q,r)
print(p,q,r)

(3, 4, 67)
{56, 34, 78}
{3: 56, 6: 78, 12: 33, 5: 45}
(3, 4, 67) {56, 34, 78} {3: 56, 6: 78, 12: 33, 5: 45}

# return a set, list, tuple or a dictionary

In [ ]:
def yourfunc(): 
    b = [23,45,79]
    return b

print(yourfunc())

In [2]:
def yourfunc(): 
    b = (23,45,79)
    return b

print(yourfunc())

(23, 45, 79)

In [3]:
def yourfunc(): 
    b = {23,45,79}
    return b

print(yourfunc())

{23, 45, 79}

In [1]:
def yourfunc(): 
    b = 23; c = 45; d = 60
    return b,c,d

print(yourfunc())

(23, 45, 60)

In [9]:
x,y,z = 45,67,78
print(y)

67

In [12]:
x = 45; y = 55;
x,y = 55,45
print(x)
print(y)

55
45

In [11]:
x = 45,67,78
print(type(x))
print(x)

<class 'tuple'>
(45, 67, 78)

In [6]:
def yourfunc(): 
    b = [23,56];  c = {45,66}; d = (2,5,7)
    return b,c,d

print(yourfunc())

([23, 56], {66, 45}, (2, 5, 7))

In [13]:
def yourfunc(): 
    b = {23:1,45:12,79:"John"}
    return b

print(yourfunc())

{23: 1, 45: 12, 79: 'John'}

# default function arguments

In [19]:
#Python program that shows default arguments

def greetings(name="Karthik", msg="Good morning!"):
    print("Hello", name + ', ' + msg)

#greetings("Hrishikesh")
#greetings("Shalini", "How do you do?")
#greetings()
greetings(msg = "How do you do")
#greetings("How do you do")

Hello Karthik, How do you do

In [22]:
#Python program that shows default arguments

def calculatearea(length=20, breadth=5):
    return length * breadth

print(calculatearea()) 
print(calculatearea(10)) 
print(calculatearea(breadth=15))
print(calculatearea(15))

100
50
300
75

In [4]:
#Python program that shows default arguments

def calculatearea(x,length=10,breadth=5):
    return x * length * breadth

#print(calculatearea()) 
print(calculatearea(15)) 
#print(calculatearea(breadth=15))
#print(calculatearea(15))

750